body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #e7decc98;
  max-width: 850px;
  width: 100%;
}

.sub-label {
  display: block;
  text-align: left;
  max-width: 380px;
  margin: 0 auto 10px auto;
  font-weight: bold;
}

.product-name,
.product-details {
  display: block;
  text-align: left;
  margin: 10px auto;
  width: 350px;
  height: 45px;
  max-width: 90%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #5d88b6;
  border-radius: 10px;
}

.generated-description {
  position: relative;
  top: -20px;
}

.button {
}

footer {
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
}
